{% extends "index.html" %}

{% block content %}


    <br/>
    <div style="height: 30px; width: 800px; background: #e4e4e4" id="msg"></div>
    <br/>
    <button id="importFbEventButton" onclick="checkConnexion()">Importer un événement de Facebook </button>

    <div id="facebookEvent" style="display: none;">
        <h2>Importer un evenement de Facebook</h2>
        <div id="table" style="height: 150px; overflow-y: scroll;"></div>
    </div>
    <h2>Creer un evenement</h2>

        <form id="create-event-form" >
            <p>
                <label>Nom</label> <input id="name" type="text"
                    name="name" />
            </p>
            <p>
                <label>Description</label> <textarea cols="40" rows="5" id="description" name="description"></textarea>
            </p>
            <p>
                <label>Catégorie</label> <select id="type" name="type"></select>
            </p>
            <p>
                <label>Début</label> <input id="startDate" type="date" name="startDate" />
                <input id="startTime" type="time" name="startTime" />
            </p>
            <p>
                <label>Lieu</label> <input id="location" type="text" name="location" />
            </p>
            <p>
                <label>Ville</label> <input id="city" type="text" name="city" />
            </p>
            <p>
                <label>Pays</label> <input id="country" type="text" name="country" />
            </p>

            <p>
                <input id="createEventButton" type="submit" />
            </p>
            {% csrf_token %}
        </form>
{% endblock %}
