
{% extends "index.html" %}

{% block content %}

    <br/>
        <div id='eventDetail' eventId='{{eventId}}' >
            <p>
                <h1><u> <div id="name"></div>  </u></h1>
            </p>
            <p>
                <label><b><u>Début : </u></b> </label>          <div id="startDateTime"></div>
            </p>
            <p>
                <label><b><u>Type : </u></b></label>            <div id="type"></div>
            </p>
            <p>
                <label><b><u>Description : </u></b></label>     <div id="description"></div>
            </p>
            <p>
                <label><b><u>Lieu : </u></b></label>            <div id="location"></div>
            </p>
            <p>
                <label><b><u>Ville : </u></b></label>           <div id="city"></div>
            </p>
            <p>
                <label><b><u>Pays : </u></b></label>            <div id="country"></div>
            </p>
            <p>
                <label><b><u>Créateur : </u></b></label>        <div id="owner"></div>
            </p>
        </div>
    </div>
{% endblock %}
