<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    {% load staticfiles %}
    <script src="{% static "assets/js/jquery.min.js" %}"></script>
    <script src="{% static "assets/js/event-search.js" %}"></script>
</head>
<body><!--
    <input id='inputID' value='{{value}}' />
    -->
    <div style="height: 30px; width: 800px; background: #e4e4e4" id="msg"></div>
    <br />
	<div id="table" style="height: 150px; overflow-y: scroll;"></div>
</body>
</html>